* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100svh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 1.5;
    background-color: lightblue;
  }
  
  .resume {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    padding: 10px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .resume_main {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /* padding: 20px; */
  }
  
  /* rest of your CSS code */

.resume_header{
    width: 100%;
    height: 175px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.personal_info{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* background-color: yellow; */
}

.email{
    margin-right: 10px;
}

.phone{
    margin-right: 10px;
}

.pincode{
    margin-right: 10px;
}

.name{
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
    text-align: end;
}

.address{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: end;
    margin-right: 10px;
}

.address_part1{
    display: flex;
    flex-direction: row;
}

.address_part2{
    display: flex;
    flex-direction: row;
}

.address div{
    margin-right: 5px;
}

.resume_body{
    width: 100%;
    height: 80%;
    /* background-color: white; */
}

.education{
    width: 100%;
    height: fit-content;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
}

.education_title{
    width: 100%;
    height: fit-content;
    font-weight: bold;
    background-color: #669BBC;
    margin-top: 5px;
    padding: 5px;
    color: white;
}

.education_item{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightgreen; */
    margin-top: 10px;
    font-size: 12px;
    box-shadow: 0px 0px 5px 0px grey;
}

.education_left{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.education_right{
    margin-right: 10px;
}

.education_duration{
    display: flex;
}

.education_duration div{
    margin-left: 5px;
}

.internships{
    width: 100%;
    height: fit-content;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.internships_title{
    width: 100%;
    height: fit-content;
    font-weight: bold;
    background-color: #669BBC;
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.internship_title{
    margin-left: 5px;
}

.internships_content_item{
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 10px;
}

.internship_duration{
    display: flex;
}
.internship_duration div{
    margin-left: 5px;
}

.internship_content{
    margin-top: 10px;
    font-size: 12px;
    line-height: 17px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 10px;
}

.projects{
    width: 100%;
    height: fit-content;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
}

.projects_title{
    width: 100%;
    height: fit-content;
    font-weight: bold;
    background-color: #669BBC;
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.projects_content{
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 10px;
}

.projects_content div{
    margin-top: 10px;
}

.project_item{
    font-size: 12px;
}

.trainings_workshop{
    width: 100%;
    height: fit-content;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
}

.trainings_title{
    width: 100%;
    height: fit-content;
    font-weight: bold;
    background-color: #669BBC;
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.trainings_content{
    margin-top: 10px;
    font-size: 12px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 10px;
}

.personal_details{
    width: 100%;
    height: fit-content;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
}

.personal_details_title{
    width: 100%;
    height: fit-content;
    font-weight: bold;
    background-color: #669BBC;
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.personal_details_content{
    margin-top: 10px;
    font-size: 12px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 10px;
}